{% extends 'layouts/baseauth.html' %}
{% block content %}
<div class="form login">
    <a href="{% url 'home' %}" class="close-button text-dark"><i class="fas fa-times"></i></a>
    <!-- Afficher les messages -->
    {% if messages %}
    <div class="alert-messages">
        {% for message in messages %}
        <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <span class="title">Changer Mot de passe</span>
    <form action="{% url 'changer_mot_de_passe' %}" method="POST">
        {% csrf_token %}
        <div class="input-field">
            <input type="password" name="ancien_mot_de_passe" id="ancien_mot_de_passe" class="password" placeholder="Entrer votre ancien mot de passe" required>
            <i class="uil uil-lock icon"></i>
        </div>
        <div class="input-field">
            <input type="password" name="nouveau_mot_de_passe" id="nouveau_mot_de_passe" class="password" placeholder="Entrer votre nouveau mot de passe" required>
            <i class="uil uil-lock icon"></i>
        </div>
        <div class="input-field">
            <input type="password" name="confirmer_mot_de_passe" id="confirmer_mot_de_passe" class="password" placeholder="Confirmer votre mot de passe" required>
            <i class="uil uil-lock icon"></i>
        </div>
        <div class="input-field button">
            <input type="submit" value="Changer">
        </div>
    </form>
</div>
{% endblock content %}