{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer un compte salarié</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
        <h2>Créer un compte</h2>
        <form action="{% url 'creer_compte' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="adresse">Adresse</label>
                <input type="text" class="form-control" id="adresse" name="adresse" required>
            </div>
            <div class="form-group">
                <label for="telephone">Téléphone</label>
                <input type="text" class="form-control" id="telephone" name="telephone">
            </div>
            <div class="form-group">
                <label for="sexe">Sexe</label>
                <select class="form-control" id="sexe" name="sexe" required>
                    <option value="">Choix...</option>
                    <option value="H">Homme</option>
                    <option value="F">Femme</option>
                </select>
            </div>
            <div class="form-group">
                <label for="role">Rôle</label>
                <select class="form-control" id="role" name="role" required>
                    <option value="">Aucun</option>
                    {% for role in roles %}
                    <option value="{{ role.id }}">{{ role.nom_role }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Salarié Fields -->
            <div id="salarie-fields" class="hidden">
                <div class="form-group">
                    <label for="nom_salarie">Nom</label>
                    <input type="text" class="form-control" id="nom_salarie" name="nom_salarie">
                </div>
                <div class="form-group">
                    <label for="prenom_salarie">Prénom</label>
                    <input type="text" class="form-control" id="prenom_salarie" name="prenom_salarie">
                </div>
                <div class="form-group">
                    <label for="dateNaissance">Date de Naissance</label>
                    <input type="date" class="form-control" id="dateNaissance" name="dateNaissance">
                </div>
				<div class="form-group">
                    <label for="dateEmbauche">Date d'embauche'</label>
                    <input type="date" class="form-control" id="dateEmbauche" name="dateEmbauche">
                </div>
                <div class="form-group">
                    <label for="competences">Compétences</label>
                    <div id="competences-container">
                        <input type="text" class="form-control mb-2" name="competences" placeholder="Compétence" title="Compétence">
                    </div>
                    <button type="button" id="add-competence" class="btn btn-primary">Ajouter une compétence</button>
                </div>
                <div class="form-group">
                    <label for="annee_exp">Années d'expérience</label>
                    <input type="number" class="form-control" id="annee_exp" name="annee_exp">
                </div>
                <div class="form-group">
                    <label for="departement">Assigner à un département</label>
                    <select class="form-control" id="departement" name="departement">
                        <option value="">Aucun</option>
                        {% for departement in departements %}
                            <option value="{{ departement.id }}">{{ departement.nom_dep }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <!-- Admin Fields -->  
            <div id="admin-fields" class="hidden">
                <div class="form-group">
                    <label for="nom_admin">Nom</label>
                    <input type="text" class="form-control" id="nom_admin" name="nom_admin">
                </div>
                <div class="form-group">
                    <label for="prenom_admin">Prénom</label>
                    <input type="text" class="form-control" id="prenom_admin" name="prenom_admin">
                </div>
            </div>

            <!-- Entreprise Fields -->
            <div id="entreprise-fields" class="hidden">
                <div class="form-group">
                    <label for="nom_entreprise">Nom de l'entreprise</label>
                    <input type="text" class="form-control" id="nom_entreprise" name="nom_entreprise">
                </div>
                <div class="form-group">
                    <label for="site_web">Site web</label>
                    <input type="url" class="form-control" id="site_web" name="site_web">
                </div>
                <div class="form-group">
                    <label for="secteur_activite">Secteur d'activité</label>
                    <input type="text" class="form-control" id="secteur_activite" name="secteur_activite">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Créer le compte</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        // Gestion des champs de rôles
        document.addEventListener('DOMContentLoaded', function() {
            const roleSelect = document.getElementById('role');
            const salarieFields = document.getElementById('salarie-fields');
            const adminFields = document.getElementById('admin-fields');
            const entrepriseFields = document.getElementById('entreprise-fields');
    
            roleSelect.addEventListener('change', function() {
                const selectedRole = this.value;
                salarieFields.classList.add('hidden');
                adminFields.classList.add('hidden');
                entrepriseFields.classList.add('hidden');
    
                if (selectedRole === '2') {
                    salarieFields.classList.remove('hidden');
                } else if (selectedRole === '1') {
                    adminFields.classList.remove('hidden');
                } else if (selectedRole === '3') {
                    entrepriseFields.classList.remove('hidden');
                }
            });
        });
    
        // Gestion des champs de compétence
    document.addEventListener('DOMContentLoaded', function() {
        const addCompetenceButton = document.getElementById('add-competence');
        const competencesContainer = document.getElementById('competences-container');
    
        addCompetenceButton.addEventListener('click', function() {
            const newCompetenceField = document.createElement('div');
            newCompetenceField.className = 'form-group';
            newCompetenceField.innerHTML = `
                <input type="text" class="form-control mb-2" name="competences" placeholder="Compétence" title="Compétence" required>
                <button type="button" class="btn btn-danger remove-competence">Supprimer</button>
            `;
                competencesContainer.appendChild(newCompetenceField);
        
                newCompetenceField.querySelector('.remove-competence').addEventListener('click', function() {
                    newCompetenceField.remove();
                });
            });
        });
    </script>
</body>
</html>