{% extends 'layouts/basedashboardadmin.html' %}
{% block content %}
{% load static %}
{% block sidebar %}
<!--sidebar -->
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li>
                        <a href="{% url 'home_admin' %}"><img src="{% static 'assets/img/icons/dashboard.svg' %}" alt="img"><span> Tableau de bord</span> </a>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);"><img src="{% static 'assets/img/icons/users1.svg' %}" alt="img"><span> Rôle et département</span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="{% url 'liste_role' %}">Liste Rôles</a></li>
                            <li><a href="{% url 'liste_departements' %}">Liste Départements</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);"><img src="{% static 'assets/img/icons/users1.svg' %}" alt="img"><span> Utilisateurs</span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="{% url 'liste_admin' %}">Liste Administrateur</a></li>
                            <li><a href="{% url 'liste_salarie' %}">Liste Salariés</a></li>
                            <li><a href="{% url 'liste_partenaire' %}">Liste Partenaires</a></li>
                            <li><a href="{% url 'liste_client' %}" >Liste Client</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);"><img src="{% static 'assets/img/icons/purchase1.svg' %}" alt="img"><span> Contrats</span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="{% url 'creer_contrat' %}">Créer</a></li>
                            <li><a href="{% url 'liste_contrat' %}" class="active">Liste</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);"><img src="{% static 'assets/img/icons/expense1.svg' %}" alt="img"><span> Fiche de paie</span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="{% url 'liste_fichePaie' %}">Liste</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);"><img src="{% static 'assets/img/icons/time.svg'  %}" alt="img"><span> Rapport</span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="#">Demande Partenaires</a></li>
                            <li><a href="#">Feedback</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);"><img src="{% static 'assets/img/icons/settings.svg' %}" alt="img"><span> Paramètres</span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="{% url 'configurer_email' %}">Email</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% endblock sidebar %}
<!-- sidebar -->
<!-- MAIN -->
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h3>Liste des Contrats</h3>
                <h4>Gérer les contrats</h4>
            </div>
            <div class="page-btn">
                <a href="{% url 'creer_contrat' %}" class="btn btn-added"><img src="{% static 'assets/img/icons/plus.svg' %}" alt="img">Ajouter</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <div class="search-set">
                        <div class="search-path">
                            <a class="btn btn-filter" id="filter_search">
                                <img src="{% static 'assets/img/icons/filter.svg' %}" alt="img">
                                <span><img src="{% static 'assets/img/icons/closes.svg' %}" alt="img"></span>
                            </a>
                        </div>
                        <div class="search-input">
                            <a class="btn btn-searchset"><img src="{% static 'assets/img/icons/search-white.svg' %}" alt="img"></a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table  datanew">
                        <thead>
                            <tr>
                                <th>Contrats</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for contrat in contrats %}
                            <tr>
                                <td>
                                    Date début:{{ contrat.date_debut }}
                                    <br>
                                    Date fin: {{ contrat.date_fin }}
                                    <br>
                                    Nom de l'entreprise: {{ contrat.entreprise.nom_entreprise }}
                                    <br>
                                    Nom du salarié: {{ contrat.salarie.nom_salarie }} {{ contrat.salarie.prenom_salarie }}
                                    <br>
                                    Type de contrat: {{ contrat.type_contrat }}
                                    <br>
                                    Fonction du salarié: {{ contrat.fonction_salarie }}
                                    <br>
                                    Paiement par: {{ contrat.get_mode_paiement_display }}
                                    <br>
                                    Salaire de base: {% if contrat.mode_paiement == 'H' %}
                                                {{ contrat.taux_horaire }} / heure
                                            {% elif contrat.mode_paiement == 'J' %}
                                                {{ contrat.taux_horaire }} / jour
                                            {% elif contrat.mode_paiement == 'M' %}
                                                {{ contrat.salaire_mensuel }} / mois
                                            {% endif %}
                                    <br>
                                    Clauses: {% for clause in contrat.clause_set.all %}
                                    {{ clause.clause }}{% if not forloop.last %}, {% endif %}
                                    <br>
                                    {% endfor %}
                                    <br>
                                    <a href="{% url 'statutContrat' contrat.id %}">
                                        {% if contrat.est_terminer %}
                                            <span class="bg-lightred badges">Terminer</span>
                                        {% else %}
                                            <span class="bg-lightgreen badges">En cours</span> 
                                        {% endif %}
                                    </a>
                                </td>   
                                <td>
                                    <a class="me-3" href="#" data-toggle="modal" data-target="#modifierContrat{{ contrat.id }}">
                                        <img src="{% static 'assets/img/icons/edit.svg' %}" alt="img">
                                    </a>
                                    <a class="me-3 confirm-text" href="javascript:void(0);">
                                        <img src="{% static 'assets/img/icons/delete.svg' %}" alt="img">
                                    </a>
                                    <a class="me-3" href="{% url 'envoyer_contract_pdf' contrat.id %}">
                                        <img src="{% static 'assets/img/icons/pdf.svg' %}" alt="img">
                                    </a>
                                    <!-- The Modal -->
                                    <div class="modal fade" id="modifierContrat{{ contrat.id }}">
                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                                            <div class="modal-content">
                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                <h3 class="modal-title">Modifier le Contrat</h3>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                                <!-- Modal body -->
                                                <div class="modal-body">
                                                    <form id="dateForm" action="{% url 'modifier_contrat' contrat.id %}" method="POST">
                                                        {% csrf_token %}
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <div class="row">
                                                                    <div class="col-lg-12">
                                                                        <h4>Informations professionnels</h4> 
                                                                    </div>
                                                                    <div class="col-sm-6 col-12">
                                                                        <div class="form-group">
                                                                            <label for="type_contrat">Type de contrat</label>
                                                                            <input type="text" class="form-control" id="type_contrat" name="type_contrat" value="{{ contrat.type_contrat }}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3 col-sm-6 col-12">
                                                                        <div class="form-group">
                                                                            <label for="dateDebutInput">Date de début</label>
                                                                            <div class="input-groupicon" id="datetimepicker">
                                                                                <input type="text" class="datetimepicker" id="dateDebutInput" name="date_debut" value="{{ contrat.date_debut|date:'d-m-Y' }}">
                                                                                <div class="addonset">
                                                                                    <img src="{% static 'assets/img/icons/calendars.svg' %}" alt="img">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3 col-sm-6 col-12">
                                                                        <div class="form-group">
                                                                            <label for="dateFinInput">Date de fin</label>
                                                                            <div class="input-groupicon" id="datetimepicker">
                                                                                <input type="text" class="datetimepicker" id="dateFinInput" name="date_fin" value="{{ contrat.date_fin|date:'d-m-Y' }}">
                                                                                <div class="addonset">
                                                                                    <img src="{% static 'assets/img/icons/calendars.svg' %}" alt="img">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3 col-sm-6 col-12">
                                                                        <div class="form-group">
                                                                            <label for="entreprise">Entreprise</label>
                                                                            <select class="select" id="entreprise" name="entreprise" required>
                                                                                <option value="{{ contrat.entreprise.id }}" selected>{{ contrat.entreprise.nom_entreprise }}</option>
                                                                                {% for entreprise in entreprises %}
                                                                                    <option value="{{ entreprise.id }}">{{ entreprise.nom_entreprise }}</option>
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3 col-sm-6 col-12">
                                                                        <div class="form-group">
                                                                            <label for="salarie">Salarié</label>
                                                                            <select class="select" id="salarie" name="salarie" required>
                                                                                <option value="{{ contrat.salarie.id }}" selected>{{ contrat.salarie.nom_salarie }} {{ contrat.salarie.prenom_salarie }}</option>
                                                                                {% for salarie in salaries %}
                                                                                    <option value="{{ salarie.id }}">{{ salarie.nom_salarie }} {{ salarie.prenom_salarie }}</option>
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6 col-12">
                                                                        <div class="form-group">
                                                                            <label for="type_contrat">Fonction à occuper</label>
                                                                            <input type="text" class="form-control" id="fonction_salarie" name="fonction_salarie" value="{{ contrat.fonction_salarie }}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6 col-12">
                                                                        <div class="form-group">
                                                                            <label for="clauses">Clause</label>
                                                                            <div id="clauses-container">
                                                                                {% for clause in contrat.clause_set.all %}
                                                                                    <input type="text" class="form-control mb-2" name="clauses" value="{{ clause.clause }}" title="Clause">
                                                                                {% endfor %}
                                                                            </div>
                                                                            <button type="button" id="add-clause" class="btn btn-primary">Ajouter une clause</button>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-12">
                                                                        <h4>Informations sur la paie</h4> 
                                                                    </div>
                                                                    <div class="col-sm-6 col-12">
                                                                        <div class="form-group">
                                                                            <label for="mode_paiement">Payement par</label>
                                                                            <select class="select" id="mode_paiement" name="mode_paiement" required>
                                                                                <option value="{{ contrat.mode_paiement }}"selected>{% if contrat.mode_paiement == 'H' %}
                                                                                    Heure
                                                                                {% elif contrat.mode_paiement == 'J' %}
                                                                                    Jour
                                                                                {% elif contrat.mode_paiement == 'M' %}
                                                                                    Mois
                                                                                {% endif %}</option>
                                                                                <option value="H">Heure</option>
                                                                                <option value="J">Jour</option>
                                                                                <option value="M" >Mois</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-12">
                                                                        <h5>Par heure</h5> 
                                                                    </div>
                                                                    <!-- Par heure -->  
                                                                    <div class="col-lg-3 col-sm-6 col-12">
                                                                        <div class="form-group">
                                                                            <label for="heures_travail">Nombre d'heure de travail</label>
                                                                            <input type="number" class="form-control" id="heures_travail" name="heures_travail" value="{{ contrat.heures_travail }}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3 col-sm-6 col-12">
                                                                        <div class="form-group">
                                                                            <label for="taux_horaire">Taux horaire</label>
                                                                            <input type="floatformat" class="form-control" id="taux_horaire" name="taux_horaire" value="{{ contrat.taux_horaire }}">
                                                                        </div>
                                                                    </div>
                                                                    <!-- Par jour -->  
                                                                    <div class="col-lg-12">
                                                                        <h5>Par jour</h5> 
                                                                    </div>
                                                                    <div class="col-lg-3 col-sm-6 col-12">
                                                                        <div class="form-group">
                                                                            <label for="jours_travail">Nombre de jour de travail</label>
                                                                            <input type="number" class="form-control" id="jours_travail" name="jours_travail" value="{{ contrat.jours_travail }}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3 col-sm-6 col-12">
                                                                        <div class="form-group">
                                                                            <label for="taux_journalier">Taux journalier</label>
                                                                            <input type="floatformat" class="form-control" id="taux_journalier" name="taux_journalier" value="{{ contrat.taux_journalier }}">
                                                                        </div>
                                                                    </div>
                                                                    <!-- Par mois -->
                                                                    <div class="col-lg-12">
                                                                        <h5>Par Mois</h5> 
                                                                    </div>  
                                                                    <div class="col-sm-6 col-12">
                                                                        <div class="form-group">
                                                                            <label for="salaire_mensuel">Salaire de base</label>
                                                                            <input type="floatformat" class="form-control" id="salaire_mensuel" name="salaire_mensuel" value="{{ contrat.salaire_mensuel }}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-12">
                                                                        <button type="submit" class="btn btn-primary me-2">Enregistrer</button>
                                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MAIN -->
{% endblock content %}