{% extends 'layouts/basedashboardadmin.html' %}
{% block content %}
{% load static %}
{% block sidebar %}
<!--sidebar -->
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li>
                        <a href="{% url 'home_admin' %}"><img src="{% static 'assets/img/icons/dashboard.svg' %}" alt="img"><span> Tableau de bord</span> </a>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);"><img src="{% static 'assets/img/icons/users1.svg' %}" alt="img"><span> Rôle et département</span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="{% url 'liste_role' %}">Liste Rôles</a></li>
                            <li><a href="{% url 'liste_departements' %}">Liste Départements</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);"><img src="{% static 'assets/img/icons/users1.svg' %}" alt="img"><span> Utilisateurs</span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="{% url 'liste_admin' %}">Liste Administrateur</a></li>
                            <li><a href="{% url 'liste_salarie' %}">Liste Salariés</a></li>
                            <li><a href="{% url 'liste_partenaire' %}">Liste Partenaires</a></li>
                            <li><a href="{% url 'liste_client' %}">Liste Client</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);" class="active"><img src="{% static 'assets/img/icons/purchase1.svg' %}" alt="img"><span> Contrats</span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="{% url 'creer_contrat' %}">Créer</a></li>
                            <li><a href="{% url 'liste_contrat' %}" class="active">Liste</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);"><img src="{% static 'assets/img/icons/expense1.svg' %}" alt="img"><span> Fiche de paie</span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="{% url 'liste_fichePaie' %}">Liste</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);"><img src="{% static 'assets/img/icons/time.svg'  %}" alt="img"><span> Rapport</span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="#">Demande Partenaires</a></li>
                            <li><a href="#">Feedback</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);"><img src="{% static 'assets/img/icons/settings.svg' %}" alt="img"><span> Paramètres</span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="{% url 'configurer_email' %}">Email</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% endblock sidebar %}
<!-- sidebar -->
<!-- MAIN -->
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h3>Liste des Contrats en cours pour l'entreprise {{ entreprise.nom_entreprise }}</h3>
            </div>
            <div class="page-btn">
                <a href="{% url 'liste_partenaire' %}" class="btn btn-cancel">Retour</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <div class="search-set">
                        <div class="search-path">
                            <a class="btn btn-filter" id="filter_search">
                                <img src="{% static 'assets/img/icons/filter.svg' %}" alt="img">
                                <span><img src="{% static 'assets/img/icons/closes.svg' %}" alt="img"></span>
                            </a>
                        </div>
                        <div class="search-input">
                            <a class="btn btn-searchset"><img src="{% static 'assets/img/icons/search-white.svg' %}" alt="img"></a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table  datanew">
                        <thead>
                            <tr>
                                <th>Contrats</th>
                        </thead>
                        <tbody>
                            {% for contrat in contrats %}
                            <tr>
                                <td>
                                    Salarié affecté: {{ contrat.salarie.nom_salarie }} {{ contrat.salarie.prenom_salarie }}
                                    <br>
                                    Date début:{{ contrat.date_debut }}
                                    <br>
                                    Date fin: {{ contrat.date_fin }}
                                    Type de contrat: {{ contrat.type_contrat }}
                                    <br>
                                    Fonction du salarié: {{ contrat.fonction_salarie }}
                                    <br>
                                    Paiement par: {{ contrat.get_mode_paiement_display }}
                                    <br>
                                    Salaire de base: {% if contrat.mode_paiement == 'H' %}
                                                {{ contrat.taux_horaire }} / heure
                                            {% elif contrat.mode_paiement == 'J' %}
                                                {{ contrat.taux_horaire }} / jour
                                            {% elif contrat.mode_paiement == 'M' %}
                                                {{ contrat.salaire_mensuel }} / mois
                                            {% endif %}
                                    <br>
                                    Clauses: {% for clause in contrat.clause_set.all %}
                                    {{ clause.clause }}{% if not forloop.last %}, {% endif %}
                                    <br>
                                    {% endfor %}
                                </td>
                            </tr> 
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MAIN -->
{% endblock content %}