{% extends 'layouts/basedashboardentreprise.html' %}
{% block content %}
{% load static %}
{% block sidebar %}
<!--sidebar -->
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li>
                        <a href="{% url 'home_admin' %}"><img src="{% static 'assets/img/icons/dashboard.svg' %}" alt="img"><span> Tableau de bord</span> </a>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);"><img src="{% static 'assets/img/icons/users1.svg' %}" alt="img"><span> Rôle et département</span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="{% url 'creer_role' %}">Créer un rôle</a></li>
                            <li><a href="#">Liste Rôles</a></li>
                            <li><a href="#">Créer un département</a></li>
                            <li><a href="#">Liste Départements</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);"><img src="{% static 'assets/img/icons/users1.svg' %}" alt="img"><span> Utilisateurs</span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="{% url 'liste_admin' %}">Liste Administrateur</a></li>
                            <li><a href="{% url 'liste_salarie' %}">Liste Salariés</a></li>
                            <li><a href="{% url 'liste_partenaire' %}">Liste Partenaires</a></li>
                            <li><a href="{% url 'liste_client' %}">Liste Client</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);"><img src="{% static 'assets/img/icons/purchase1.svg' %}" alt="img"><span> Contrats</span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="{% url 'creer_contrat' %}">Créer</a></li>
                            <li><a href="#">Liste</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);"><img src="{% static 'assets/img/icons/expense1.svg' %}" alt="img"><span> Fiche de paie</span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="#">Ajouter</a></li>
                            <li><a href="#">Liste</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);"><img src="{% static 'assets/img/icons/time.svg'  %}" alt="img"><span> Rapport</span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="#">Demande Partenaires</a></li>
                            <li><a href="#">Feedback</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);"><img src="{% static 'assets/img/icons/settings.svg' %}" alt="img"><span> Paramètres</span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="#">Général</a></li>
                            <li><a href="#">Email</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% endblock sidebar %}
<!-- sidebar -->
<!-- MAIN -->
<div class="page-wrapper">
    <div class="content">
        <!-- Afficher les messages -->
        {% if messages %}
        <div class="alert-messages">
            {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="page-header">
            <div class="page-title">
                <h4>Profil</h4>
                <h6>Profil entreprise</h6>
            </div>
        </div>
        <form action="{% url 'profile_client' %}" method="POST">
            {% csrf_token %}
            <div class="card">
                <div class="card-body">
                    <div class="profile-set">
                    <div class="profile-top">
                        <div class="profile-content">
                            <div class="profile-contentname">
                                <h2>{{ entreprise_info.nom_entreprise }}</h2>
                                <h4>Mettre à jour ses informations personnels.</h4>
                            </div>
                        </div>
                        <div class="ms-auto">
                            <a href="{% url 'changer_mot_de_passe' %}" class="btn btn-submit me-2">Changer mot de passe</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <div class="form-group">
                            <label for="nom_entreprise">Nom d'utilisateur:</label>
                            <input type="text" id="nom_utilisateur" name="nom_utilisateur" value="{{ user.nom_utilisateur }}">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="form-group">
                            <label for="nom_entreprise">Nom de l'entreprise:</label>
                            <input type="text" id="nom_entreprise" name="nom_entreprise" value="{{ entreprise_info.nom_entreprise }}">
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="form-group">
                            <label for="nom_agent_entreprise">Nom agent de l'entreprise</label>
                            <input type="text" class="form-control" id="nom_agent_entreprise" name="nom_agent_entreprise" value="{{ entreprise_info.nom_agent_entreprise }}">
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="form-group">
                            <label for="prenom_agent_entreprise">Prénom agent de l'entreprise</label>
                            <input type="text" class="form-control" id="prenom_agent_entreprise" name="prenom_agent_entreprise" value="{{ entreprise_info.prenom_agent_entreprise }}">
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="form-group">
                            <label for="poste_agent">Poste occupé par l'agent</label>
                            <input type="text" class="form-control" id="poste_agent" name="poste_agent" value="{{ entreprise_info.poste_agent }}">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="form-group">
                            <label for="adresse">Adresse:</label>
                            <input type="text" id="adresse" name="adresse" value="{{ user.adresse }}">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="form-group">
                            <label for="site_web">Site Web:</label>
                            <input type="text" id="site_web" name="site_web" value="{{ entreprise_info.site_web }}">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="form-group">
                            <label for="telephone">Téléphone:</label>
                            <input type="text" id="telephone" name="telephone" value="{{ user.telephone }}">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="text" id="email" name="email" value="{{ user.email }}">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="form-group">
                            <label for="secteur_activite">Secteur d'activité:</label>
                            <input type="text" id="secteur_activite" name="secteur_activite" value="{{ entreprise_info.secteur_activite }}">
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary me-2">Enregistrer</button>
                        <a href="#l" class="btn btn-cancel">Annuler</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- MAIN -->
{% endblock content %}