{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="style.css">
    <!----======== CSS ======== -->
    <link href="{% static 'assets/css/dash.css' %}" rel="stylesheet">
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
	<title>AdminSite</title>
</head>
<body>
	
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand"><i class='bx bxs-smile icon'></i> HrBridge</a>
		<ul class="side-menu">
			<li><a href="{% url 'home_salarie' %}" class="active"><i class="uil uil-estate  icon"></i> Tableau de bord</a></li>
			<li class="divider" data-text="Document">Document</li>
            <li>
				<a href="#"><i class='bx bxs-notepad icon' ></i> Contrat <i class='bx bx-chevron-right icon-right' ></i></a>
				<ul class="side-dropdown">
					<li><a href="#">En cours</a></li>
					<li><a href="#">Terminer</a></li>
				</ul>
			</li>
			<li>
				<a href="#"><i class='bx bxs-notepad icon' ></i> Fiche de paie <i class='bx bx-chevron-right icon-right' ></i></a>
				<ul class="side-dropdown">
                    <li><a href="#">Reçus</a></li>
					<li><a href="#">Payer</a></li>
					<li><a href="#">Impayer</a></li>
				</ul>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->

	<!-- NAVBAR -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu toggle-sidebar' ></i>
			<form action="#">
				<div class="form-group">
					<input type="text" placeholder="Search...">
					<i class='bx bx-search icon' ></i>
				</div>
			</form>
			<a href="#" class="nav-link">
				<i class='bx bxs-bell icon' ></i>
				<span class="badge">5</span>
			</a>
			<a href="#" class="nav-link">
				<i class='bx bxs-message-square-dots icon' ></i>
				<span class="badge">8</span>
			</a>
			<span class="divider"></span>
            <div class="info">
                <p>Bienvenue, <b>{{ request.session.username }}</b></p>
                <small class="text-muted">Salarié</small>
            </div>
			<div class="profile">
				<img src="{% static 'assets/image/user.png' %}">
				<ul class="profile-link">
					<li><a href="#"><i class='uil uil-user-circle icon' ></i> Profile</a></li>
					<li><a href="#"><i class='uil uil-setting' ></i> Paramètre</a></li>
					<li><a href="{% url 'deconnexion' %}"><i class='uil uil-signout' ></i> Déconnexion</a></li>
				</ul>
			</div>
		</nav>
        {% block content %}
        
        {% endblock content %}
		<!-- NAVBAR -->
	</section>
	<!-- NAVBAR -->
	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	<!----JS script----->
    <script src="{% static 'assets/script/dash.js' %}" rel="stylesheet"></script>
</body>
</html>