{% extends 'layouts/baseauth.html' %}
{% block content %}
<div class="form login">
    <a href="{% url 'home' %}" class="close-button text-dark"><i class="fas fa-times"></i></a>
    {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
    <span class="title">Changer Mot de passe</span>
    <form action="{% url 'changer_mot_de_passe' %}" method="POST">
        {% csrf_token %}
        <div class="input-field">
            <input type="password" name="ancien_mot_de_passe" id="ancien_mot_de_passe" class="password" placeholder="Entrer votre ancien mot de passe" required>
            <i class="uil uil-lock icon"></i>
        </div>
        <div class="input-field">
            <input type="password" name="nouveau_mot_de_passe" id="nouveau_mot_de_passe" class="password" placeholder="Entrer votre nouveau mot de passe" required>
            <i class="uil uil-lock icon"></i>
        </div>
        <div class="input-field">
            <input type="password" name="confirmer_mot_de_passe" id="confirmer_mot_de_passe" class="password" placeholder="Confirmer votre mot de passe" required>
            <i class="uil uil-lock icon"></i>
        </div>
        <div class="input-field button">
            <input type="submit" value="Changer">
        </div>
    </form>
</div>
<!-- JavaScript pour faire disparaître les alertes après 5 secondes -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const alertElements = document.querySelectorAll('.alert');
        alertElements.forEach(function(alert) {
            setTimeout(function() {
                alert.style.transition = 'opacity 0.5s ease';
                alert.style.opacity = '0';
                setTimeout(function() {
                    alert.remove();
                }, 500); // Correspond à la durée de la transition
            }, 5000); // 5000 ms = 5 secondes
        });
    });
</script>
{% endblock content %}