{% extends 'layouts/baseauth.html' %}
{% block content %}
<div class="form login">
    <a href="{% url 'connexion' %}" class="close-button text-dark"><i class="fas fa-times"></i></a>
    <span class="title">Mot de passe oublier</span>
    <form action="{% url 'oublier_mot_de_passe' %}" method="POST">
        {% csrf_token %}
        <div class="input-field">
            <input type="text" placeholder="Email ou numéro de téléphone" required>
            <i class="uil uil-envelope icon"></i>
        </div>
        <div class="input-field button">
            <input type="button" value="Envoyer">
        </div>
    </form>
</div>
<!-- JavaScript pour faire disparaître les alertes après 5 secondes -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const alertElements = document.querySelectorAll('.alert');
        alertElements.forEach(function(alert) {
            setTimeout(function() {
                alert.style.transition = 'opacity 0.5s ease';
                alert.style.opacity = '0';
                setTimeout(function() {
                    alert.remove();
                }, 500); // Correspond à la durée de la transition
            }, 5000); // 5000 ms = 5 secondes
        });
    });
</script>
{% endblock content %}